/* ---------   fonts----------- */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans&family=Work+Sans:wght@500&display=swap');
main{
    margin-top: -50px;
}
body {
    font-family: 'Work Sans', sans-serif;
}

.color {
    background-color: #FF900E1A;
}

/* ----------header is here ----------- */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 220px;
    align-items: center;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

nav ul {
    display: flex;

}

li {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.G3-Architects {
    font-weight: 700;
    font-size: 45px;
}

/*  -------header is done ----------- */
/* -------
heading is start----- */

.heading {
    font-weight: 700;
    font-size: 64px;
}

.simple-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: -16px;
    margin-bottom: 32px;
}

.button {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.heading-1 {
    /* text-align: center; */
    margin: auto;
    width: 40%;
    text-align: center;
    /* gap: 30px; */
}

/*--------------------- heading is done -------------------- */
/*  images */
.image-1 {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin: 50px;
    margin-left: 40px;
    /* margin-right: 60px; */
}

/* -----------------first image is done---------- */
.section-2 {
    display: flex;
}

.images-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.for-margin {
    margin: 85px 0;
    margin-left: 200px;
}

.quick-visit {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.span-bold {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.span-color {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.some-text {
    margin: 265px 200px 285px 73px;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------ */
/* experience button */
.experience-year {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    /* text-align: center; */
    /* padding-top: 45px; */
    /* margin-top: 45px; */
}

.experience-text {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.experience {
    /* margin: auto; */
    /* width: 10%; */
/* margin-top: -200px; */
margin-left: 200px;
}

.center {
    text-align: center;
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    /* padding: 46px 42px; */
}

/* ---------------------------------------------------------------- */
/* -------------article---------------- */
.line {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.line-heading {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.heading-3 {
    font-weight: 700;
    font-size: 45px;
    margin-left: 21px;
}

.heading-4 {
    font-weight: 600;
    font-size: 20px;
}

.text-4 {
    margin: 55px 54px 20px 120px;
}

.heading-text {
    margin: 39px 146px 5px 105px;
}

.features {
    display: flex;
}

.side-image {
    margin: 50px 100px 130px 0;
}

/*      ---------------------------------------------------                          -------------------------          */
.some-facts {
    font-weight: 700;
    font-size: 45px;
}

.facts-text {
    margin-left: 140px;
}

/*              -------------------                  -------------------                     ----------------- */

.number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.para {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.box-1 {
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* gap: 0; */
    border: 1px solid #FF900E;
    border-radius: 8px;
    /* margin: 46px 36px; */
    padding-top: 40px;
    padding-bottom: 30px;
    /* margin: 100px 124px 100px 280px; */
    margin-left: 124px;
    transition: height 2s , width 2s transform;
}
.box-1:hover{
    border: 2px solid red;
    transform: rotate(-30deg);
}
.work-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-right: 120px;
    margin-bottom: 180px;
}

/* ---------------                    ----------------------                              ------------------ */

.sponsors {
    text-align: center;
    margin-bottom: 50px;
}

/* -------------------------------------------------------------------------------------------------------- */
.five-images {
    display: flex;
    justify-content: space-evenly;
}

/*                                        -------------------------------------                                  */

/* ------------------------------------------   footer   -------------------------------------------------------- */

.foot {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 39px 410px; */
    padding: 36px;
}

footer {
    background: #FFF4E7;
    border-radius: 8px;
    margin: 130px 200px;
}

/* ------------------------------------
---------------------------------------------------------------- */
/* ----------------media query---------------------- */

@media screen and (max-width: 576px){
    .color {
        width: 100%;
    }
    nav{
        width: 100%;
        /* display: flex; */
        margin: auto;
    }
 .experience , .features , .side-image
, .work-section , .sponsors
, .business-site , .foot , .others {
    padding: 1px;
}
.features{
    flex-direction: column-reverse;
}
.box-1 , .five-images{
    flex-direction: column;
}
.box-1{
    /* display: grid; */
    padding: 1px;
    /* grid-template-rows: repeat(4, 1fr); */
    /* grid-template-rows: repeat(4 , 1fr); */
    margin: 0;
    /* flex-direction: column; */
    grid-template-columns: repeat(2 , 1fr);
}
.five-images{
    height: 70%;
    width: 70%;
    gap: 3vh;
    margin-left: 10vh;
    /* margin-top: -20vh; */
}
.for-margin{
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: grid; */
    /* grid-template-rows: repeat(4 , 1fr); */
    /* grid-template-columns: repeat(1 , 4fr); */
    margin-right: 70vh;
    width: 40%;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.G3-Architects{
    margin-left: 10vh;
}
footer {
    margin: 5vh;
}
.experience{
    margin-right: 28vh;
}
.image-1{
    width: 90%;
    height: 100%;
}
/* .side-image img{
    width: 100%;
    height: 100%;
    margin-left: 5vh;
} */

 }
 